<!-- User Sprint Table  -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th class="text-center">Sprints</th>
    </tr>
  </thead>

  <tbody>
    <% @user.projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_developer_path(project) %></td>
        <td class="text-center"><%= project.sprints.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>