<div class="col-xs-12 col-sm-5 col-md-4">
  <p id="notice"><%= notice %></p>
	<p>
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>
  <p>
    <strong>Client:</strong>
    <%= @project.client %>
  </p>
  <p>
    <strong>Started at:</strong>
    <%= @project.started_at %>
  </p>
</div>