/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.container-mobile a.avatar {
    margin-bottom: 1em;
}

.container-mobile a.avatar img {
    border-radius: 25%;
    margin: 0 auto;
    width: 80%;
    max-height: 132px;
}

.container-mobile a.avatar p {
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.1em;
}

.container-mobile #projects {
    border-left: 4px solid #66b5f3;
    height: 100%;
}

.container-mobile .project {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin: 0.5em 0;
    background: #dde2e2;
    text-align: center;
    font-size: 1.2em;
}

.container-mobile .logo {
	max-width: 320px;
    margin-bottom: 2em;
}

.container-mobile#user-detail img.avatar {
	margin-bottom: 2em;
    margin-top: 1em;
    margin-right: 1em;
    float: right;
    width: 110px;
    border-radius: 30%;	
}

.container-mobile#user-detail .logo, .container-mobile#project-detail .logo  {
    max-width: 250px;
    margin-bottom: 0; 
}

.container-mobile#user-detail #calendar-container {
	margin-top: 2.5em;
}

.container-mobile#project-detail .project-users {
	margin-top: 2em;
}

.container-mobile .project {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    /* margin: 0.5em 0; */
    background: #dde2e2;
    text-align: center;
    font-size: 1.2em;
}

.radio-button  {
    display: block;
    margin-bottom: 1em;
    overflow: auto;
}

.radio-button label {
    white-space: normal;
    width: 31.33%;
    float: left;
    margin-right: 3%;
    padding: 1em;
    margin-bottom: 0.5em;
    background: #e0dfdf;
    overflow: auto;
    line-height: 500%;
}

.radio-button label span {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.radio-button label:nth-of-type(3n+3) {
    margin-right:0;
}

.radio-button label:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.radio-button input[type=radio] {
    display: none;
}

.radio-button input[type=radio]:checked + label {
    border: 3px solid rgba(3, 169, 244, 0.76);
    opacity: 0.8;
}